<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
	xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui"

>
	<Package Name="FFmpeg" Language="1033" Version="$VERSION" Manufacturer="Dunkyl 🔣🔣" UpgradeCode="3a567af2-24ac-410e-9066-5e9278944025" Codepage="UTF-8"

		>
		<Property Id="MSIUSEREALADMINDETECTION" Value="1" />

		<StandardDirectory Id="ProgramFiles6432Folder">
			<Directory Name="FFmpeg" Id="INSTALLDIR">
			</Directory>
		</StandardDirectory>

		<DirectoryRef Id="INSTALLDIR">
			<Directory Name="bin" Id="bin">
				<Component Id="exe" Guid="9fbfa205-5ee1-4e7c-8f21-a7f1058bcb42">
					<File Id="ffmpegexe" Source="FFMPEG\bin\ffmpeg.exe" KeyPath="yes" />
					<File Id="ffplayexe" Source="FFMPEG\bin\ffplay.exe" />
					<File Id="ffprobeexe" Source="FFMPEG\bin\ffprobe.exe" />
				</Component>
				<Component Id="UpdatePath" Guid='53269529-139a-4856-9506-199377827ced'>
					<Environment 
							Id="UpdatePath" 
							Name="PATH" 
							Value="[INSTALLDIR]\bin" 
							Part="last" 
							Action="set" 
							System="yes"/>
				</Component>
				
			</Directory>
			<!-- <Component Id="docs" Guid='53254329-139a-4856-9506-199377827ced'> -->
			<Directory Name="doc" Id="doc">
				
			</Directory>
			<!-- </Component> -->
			<Component Id="license" Guid="91bfa205-5ee1-4e7c-8f21-a7f1058bcb42">
				<File Id="license" Source="FFMPEG\LICENSE" KeyPath="yes" />
			</Component>
		</DirectoryRef>

		<Feature Id="Complete" Title='FFmpeg' Description='The complete package.'
    		Display='collapse' Level="1" ConfigurableDirectory='INSTALLDIR'>
			<Feature Id="Core" Title="Main Core" Level="1">
				<ComponentRef Id="exe"/>
				<ComponentRef Id="license"/>
				<Feature Id="Documentation">
					<Files Directory="doc" Include="FFMPEG\doc\*" />
				</Feature>
				<Feature Id="AddToPath" Title='Add to PATH' Level="1">
					<ComponentRef Id="UpdatePath"/>
				</Feature>
			</Feature>
		</Feature>

		<ui:WixUI Id="WixUI_InstallDir" InstallDirectory="INSTALLDIR" />

		<WixVariable Id="WixUILicenseRtf" Value="gplv3.rtf" />
		<WixVariable Id="WixUIBannerBmp" Value="banner.bmp" />
		<WixVariable Id="WixUIDialogBmp" Value="dialog.bmp" />

		<Icon Id="icon.ico" SourceFile="icon.ico"/>
		<Property Id="ARPPRODUCTICON" Value="icon.ico" />

	</Package>
	
</Wix>
